<div class="col align-self-center btn-center">
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">15 min.</p></button>
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">30 min.</p></button>
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">60 min.</p></button>
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">90 min.</p></button>
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">120 min.</p></button>
            <button mdbBtn type="button" class="waves-light fa-border btntimed" mdbWavesEffect><p class="timetext">15 min.</p></button>
        </div>
            