<mdb-card>
        <mdb-card-body>
          <form >
            <p class="h5  py-4">Book time slot from September 8th 8:30 to September 8th 8:45</p>
            <div class="md-form">
              <input type="text" id="materialFormCardNameEx"  class="form-control" mdbInputDirective>
              <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
            </div>
            <div class="md-form">
                    <input type="text" id="materialFormCardNameEx_1"  class="form-control" mdbInputDirective>
                    <label for="materialFormCardNameEx_1" class="font-weight-light">Your email</label>
                  </div>
            <div class="py-4 mt-3">
              <button mdbBtn color="pink" class="waves-light" type="submit" mdbWavesEffect>Book the slot </button>
            </div>
          </form>
        </mdb-card-body>
      </mdb-card>